---
import { Image } from "astro:assets"
import GithubIcon from "../icons/GithubIcon.astro"

const {project} = Astro.props
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-6 bg-slate-800/40 rounded-2xl lg:h-[380px] ">
    <div class="flex items-center h-full">
        <Image src={project.img} alt={project.title} class="w-full h-[340px] object-center object-cover aspect-video" width={1000} height={1000}/>
    </div>
    <div class="py-8 px-4 flex flex-col justify-center">
        <h3 class="text-xl md:text-2xl font-bold text-blue-500 mb-6">{project.title}</h3>
        <p>{project.description}</p>
        <ul class="my-2 flex  flex-wrap text-white mb-10">
            {
                project.languages.map(({text,icon:Icon,styles}) => (
                    <li class={`rounded-full px-4 py-1 text-sm font-semibold mr-2 mt-2 flex items-center gap-x-2 ${styles}`}>
                        <Icon class="size-4 lg:size-6 text-lg lg:text-xl"/>{text}
                    </li>
                ))
            }    
        </ul>
        <div class="flex items-center justify-center lg:justify-start gap-5">
            <a href={project.github} class="flex cursor-pointer rounded-full border-[2px] hover:scale-110">
                <GithubIcon class="size-6"/>
            </a>    
            <a 
                href={project.link} 
                target="_blank" 
                rel="noopener noreferrer" 
                class="cursor-pointer text-yellow-400 hover:text-yellow-600 group text-xl rounded-[1rem] border-solid border-[1px] border-yellow-400 px-4 py-1" 
            >
                Ver proyecto <span class="relative group-hover:ml-2 transition-all duration-200">&rarr;</span>
            </a>
        </div>
    </div>
</div>