---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import "@fontsource-variable/onest"
interface Props {
    title: string
    description: string
}

const { description, title } = Astro.props
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <meta name="google-site-verification" content="kCMoIHVeP8yAxBfcb4nBHV0iPztRxmSyOhuKQ7eM4Xg" />
        <title>{title}</title>
        <!-- og -->
        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://portfolio-dev-astro.vercel.app"/>
        <meta property="og:locale" content="es_ES" />
        <meta property="og:site_name" content="Portfolio" />
        <meta property="og:image" content='/Portfolio.jpg' />
    </head>

    <body class="relative text-black dark:text-white">
        <div
            class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full bg-neutral-300 dark:bg-neutral-950
            bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(217,216,255,0.5),rgba(255,255,255,0.9))]
            dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
        >
        </div>
        <Header />
        <slot/>
        <Footer />
    </body>
</html>


<style is:global>
    :root{
        color-scheme: light dark;
    }

    html{
        font-family: 'Onest Variable', sans-serif;
        scroll-behavior: smooth;
    }

    body{
        background:#050505;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        align-items: center;
    }

    @media (prefers-reduced-motion: reduce) {

        html {
            scroll-behavior: auto;
        }
    }
</style>
